<div onmouseover="showDeleteButton(this)" onmouseout="hideDeleteButton(this)" class="tiny card folder mb-3" oncontextmenu="openFolderContextMenu(event, {{ folder.id }})">
    <i class="fa fa-folder"></i>
    <div class="card-body">
        <a href="{% url 'folder' folder.id %}">
            <div class="folder-name">{{ folder.name }} </div>
        </a>
        <small class="text-muted ">{{ folder.item_set.all.count |add:folder.folder_set.all.count }} items</small>
        <form action="{% url 'delete-folder' folder.id %}" method="post">
            {%  csrf_token %}
            <button role="submit" class="fa fa-trash"></button>
        </form>
    </div>
</div>
{% include 'includes/components/menus/contextmenus/folder_contextmenu.html' with folder=folder %}
{% include 'includes/components/modals/rename_folder.html' with folder=folder %}