<div onmouseover="showDeleteButton(this)" onmouseout="hideDeleteButton(this)" class="tiny card school-course mb-3">
    <i class="fa fa-book"></i>
    <div class="card-body">
        <a
           href="{% url 'school-course' school_course.id %}">
            <div class="course-name">
                {{ school_course.title }}
            </div>
        </a>
        <small class="text-muted ">{{ school_course.item_set.all.count }} items</small>
        <form action="{% url 'delete-school-course' school_course.id %}" method="post">
            {%  csrf_token %}
            <button role="submit" class="fa fa-trash"></button>
        </form>
    </div>
</div>