<div onmouseover="showDeleteButton(this)" onmouseout="hideDeleteButton(this)" class="tiny card sheet mb-3">
    <i class="fa fa-leaf"></i>
    <div class="card-body">
        <a href="{% url 'sheet' sheet.id %}">
            <div class="sheet-title">{{ sheet.title }}</div>
        </a>
        <small class="text-muted ">{{ sheet.cell_set.all.count }} cells</small>
        <form action="{% url 'delete-sheet' sheet.id %}" method="post">
            {%  csrf_token %}
            <button role="submit" class="fa fa-trash"></button>
        </form>
    </div>
</div>