{%  load filename %}
{%  load iconify %}
<!-- menu -->
<div id="folderNav" class="p-2">
    <div>
        <a href="{% url 'folder' folder.parent.id %}" class="text-center">
            <strong>../</strong><i class="text-primary fa fa-arrow-left"></i>
        </a>
    </div>
    <div>
        <a href="{% url 'folder' folder.id %}">
            <i class="fa fa-folder-open"></i> <strong>{{ folder.name | truncatechars:40 }}</strong>
        </a>
        <a href="{% url 'new-folder-sheet' folder.id %}" class="float-right badge badge-success"> <i
                class="fa fa-plus"></i></a>
        <button type="button" class="btn float-right badge badge-primary mx-2" data-toggle="modal"
                data-target="#exampleModalCenter"><i class="fa fa-plus"></i></button>
    </div>
    <div class="folder-content pl-2">
        {% for child_sheet in sheets.all %}
            <div {% if child_sheet.id == sheet_id %}{{ 'class="highlight-item"' }}{% endif %}>
                <a href="{% url 'folder-editor' folder.id child_sheet.id %}"><i
                        class="text-success fa fa-leaf"></i> {{ child_sheet.title | truncatechars:40 }}</a>
            </div>
        {% endfor %}
        <hr style="height: 1px; width: 70%; margin: .5rem auto;">
        {% for file_item in file_items %}
            <div>
                <a href="{{ file_item.file.url }}">
                    <i class="text-primary fa {{ file_item.file.name|iconify }}"></i> {{ file_item.file|filename }}
                </a>
            </div>
        {% endfor %}
        {% for sub_folder in folder.folder_set.all %}
            <div>
                <a href="{% url 'folder' sub_folder.id %}">
                    <i class="text-primary fa fa-folder"></i> {{ sub_folder.name | truncatechars:40 }}
                </a>
            </div>
        {% endfor %}
    </div>

</div>