{% load filename %}
{% load iconclass %}
<!-- menu -->
<div id="folder-nav" class="p-2">
    <div>
        <a href="{% url 'folder' folder.id %}">
            <i class="fa fa-folder-open"></i> <strong>{{ folder.name | truncatechars:40 }}</strong>
        </a>
        <a href="{% url 'add-sheet' folder.id %}" class="float-right badge badge-success"> <i
                class="fa fa-plus"></i></a>
    </div>
    <div class="folder-content pl-2">
        <small class="text-muted">Feuilles</small>
        {% for child_sheet in sheets.all %}
            <div {% if child_sheet.id == sheet_id %}{{ 'class="highlight-item"' }}{% endif %}>
                <a href="{% url 'folder-editor' folder.id child_sheet.id %}"><i
                        class="text-success fa fa-leaf"></i> <span {% if child_sheet.id == sheet_id %} class="sheet-title-text" {% endif %}>{{ child_sheet.title | truncatechars:40 }}</span></a>
            </div>
        {% endfor %}
        <hr class="mb-0">
        <small class="text-muted">Cours</small>
        {% for course in courses %}
            <div>
                <a href="{% url 'course' course.id %}">
                    <i class="text-primary fa fa-graduation-cap"></i> {{ course.title | truncatechars:40 }}
                </a>
            </div>
        {% endfor %}
        <hr class="mb-0">
        <small class="text-muted">Fichiers</small>
        {% for file_item in file_items %}
            <div>
                <a href="{{ file_item.file.url }}">
                    <i class="text-primary fa {{ file_item.file.name|iconclass }}"></i> {{ file_item.file|filename }}
                </a>
            </div>
        {% endfor %}
        <hr class="mb-0">
        <small class="text-muted">Sous dossiers</small>
        {% for sub_folder in folder.folder_set.all %}
            <div>
                <a href="{% url 'folder' sub_folder.id %}">
                    <i class="text-primary fa fa-folder"></i> {{ sub_folder.name | truncatechars:40 }}
                </a>
            </div>
        {% endfor %}
    </div>

</div>