{% load static %}
<script src="{% static 'marked/lib/marked.js' %}"></script>
<script src="{% static 'vue/dist/vue.min.js' %}"></script>
<script src="{% static 'js/cells.js' %}"></script>
<script src="{% static 'js/sheet.js' %}"></script>
<script src="{% static 'axios/dist/axios.min.js' %}"></script>
<script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
{% include 'includes/scripts/highlightjs_script.html' %}
{% include 'includes/scripts/codemirror_script.html' %}
{% include 'includes/scripts/mathjax_script.html' %}
{% include 'includes/components/vuejs/templates.html' %}
<script>
    marked.setOptions({
        highlight: function (code) {
            return hljs.highlightAuto(code).value
        }
    })

    /* TODO Remove this line in production mode */
    // Enabling devtools
    Vue.config.devtools = true
    Vue.component('sheet-title', {
        template: "#sheet-title",
        props: ['title', 'editable'],
        data: function () {
            return {
                editMode: false,
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.editMode = !this.editMode
            }
        },
    })
    Vue.component('markdown-cell', {
        template: "#markdown-cell",
        props: ['cell', 'editable'],
        data: function () {
            return {
                codeMirror: null
            }
        },
        computed: {
            html: function () {
                return marked(this.cell.text)
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable) {
                    this.cell.editMode = !this.cell.editMode
                    if (!this.cell.editMode)
                        MathJax.Hub.Queue(["Typeset", MathJax.Hub, this.$el.querySelector('.markdown-display')]);
                }
            },
            flushText: function () {
                this.cell.text = this.codeMirror.getValue('\n')
            },
            editorCtrlS: function () {
                this.flushText()
                this.$emit('save')
            },
            editorCtrlEnter: function () {
                this.flushText()
                this.toggleMode()
            },
            mountCodeMirror: function () {
                let markdownComponent = this
                this.codeMirror = CodeMirror.fromTextArea(this.$el.getElementsByTagName('textarea')[0], {
                    extraKeys: {
                        "Ctrl-S": markdownComponent.editorCtrlS,
                        "Ctrl-Enter": markdownComponent.editorCtrlEnter
                    },
                    autoRefresh: true,
                    //lineNumbers: true,
                    lineWrapping: true,
                    foldGutter: true,
                    //gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
                })
                this.codeMirror.on("blur", markdownComponent.flushText)
            }
        },
        mounted: function () {
            this.mountCodeMirror()
        },
    })

    Vue.component('video-cell', {
        template: "#video-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
    })

    Vue.component('youtube-cell', {
        template: "#youtube-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
    })

    Vue.component('audio-cell', {
        template: "#audio-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
    })

    Vue.component('file-cell', {
        template: "#file-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
        filters: {
            iconclass: function (fileUrl) {
                let ext = ''
                if (fileUrl.includes('data:')) {
                    let format = fileUrl.split(';base64,')[0]
                    ext = format.split('/')[1]
                } else {
                    let urlParts = fileUrl.split('.')
                    ext = urlParts[urlParts.length - 1]
                }

                if (['txt', 'tex'].includes(ext))
                    return 'fa-file-text-o'
                else if (['png', 'jpeg', 'jpg', 'gif'].includes(ext))
                    return 'fa-file-image-o'
                else if (['pdf'].includes(ext))
                    return 'fa-file-pdf-o'
                else if (['odt', 'doc', 'docx', 'rtf', 'wks', 'wps', 'wpd'].includes(ext))
                    return 'fa-file-word-o'
                else if (['ppt', 'pptx', 'pps', 'odp', 'key'].includes(ext))
                    return 'fa-file-powerpoint-o'
                else if (['xls', 'xlsx', 'csv', 'xlr', 'ods'].includes(ext))
                    return 'fa-file-excel-o'
                else if (['htm', 'html', 'xhtml', 'xml'].includes(ext))
                    return 'fa-file-code-o'
                else if (['7z', 'arj', 'rar', 'deb', 'pkg', 'rpm', 'tar.gz', 'z', 'zip'].includes(ext))
                    return 'fa-file-archive-o'
                else if (['mp4', 'mkv', 'avi', 'mov', 'flv', '3gp', 'wmv', 'vob', 'swf', 'mpg', 'mpeg', '3g2'].includes(ext))
                    return 'fa-file-movie-o'
                else if (['mp3', 'ogg', 'webm', 'aif', 'cda', 'mpa', 'wav', 'wma', 'wpl'].includes(ext))
                    return 'fa-file-movie-o'
                else
                    return 'fa-file-o'
            }
        }
    })

    Vue.component('image-cell', {
        template: "#image-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
    })

    Vue.component('numerical-question-cell', {
        template: "#numerical-question-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
    })

    Vue.component('open-ended-question-cell', {
        template: "#open-ended-question-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
        },
    })

    Vue.component('multiple-choice-question-cell', {
        template: "#multiple-choice-question-cell",
        props: ['cell', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.cell.editMode = !this.cell.editMode
            },
            createBlankPropositions: function () {
                this.cell.propositions = []
                for (let i = 0; i < this.cell.nbPropositions; i++) {
                    this.cell.propositions.push(new Proposition('Statement ' + (i + 1), false))
                }
            }

        },
    })

    let sheet = new Vue({
        el: "#sheet",
        data: { // Represents the sheet as described by the Sheet class
            title: `{{ sheet.title|safe}}`, // sheets title
            cells: [],
            editMode: {{ edit_mode | lower }},
            saved: false,
            nbCellsSaved: 0,
            autosave: false,
            saveInterval: null
        },
        methods: {
            toggleMode() {
                // this.autosave = !this.autosave
                this.editMode = !this.editMode
            },
            updateTitle(title) {
                this.title = title
            },
            deleteCell(id) {
                this.cells = this.cells.filter((cell) => {
                    console.log("Deleting the cell of id =  " + id)
                    return cell.id !== id
                })
            },
            addVideoCell() {
                let videoCell = new VideoCell(this.lastInsertedId + 1, '', '', 1)
                this.cells.push(videoCell)
            },
            addYoutubeCell() {
                let youtubeCell = new YoutubeCell(this.lastInsertedId + 1, '', '', 1)
                this.cells.push(youtubeCell)
            },
            addAudioCell() {
                let audioCell = new AudioCell(this.lastInsertedId + 1, '')
                this.cells.push(audioCell)
            },
            addImageCell() {
                let imageCell = new ImageCell(this.lastInsertedId + 1, '', '', 1)
                this.cells.push(imageCell)
            },
            addMarkdownCell() {
                let markdownCell = new MarkdownCell(this.lastInsertedId + 1, '')
                this.cells.push(markdownCell)
            },
            addFileCell() {
                let fileCell = new FileCell(this.lastInsertedId + 1, '')
                this.cells.push(fileCell)
            },
            addQuestionCell(typeIndex) {
                let questionCell = null
                switch (typeIndex) {
                    case 1: // MCQ
                        questionCell = new MultipleChoiceQuestionCell(this.lastInsertedId + 1)
                        break;
                    case 2: // NQ
                        questionCell = new NumericalQuestionCell(this.lastInsertedId + 1, 0)
                        break;
                    case 3: // OEQ
                        questionCell = new OpenEndedQuestionCell(this.lastInsertedId + 1, '')
                        break;
                }
                console.log(questionCell)
                this.cells.push(questionCell)
            },
            moveCell(id, shift) {
                let cell = this.cells.filter((cell) => {
                    return cell.id === id
                })[0]
                let cellIndex = this.cells.indexOf(cell)
                let otherCellIndex = cellIndex + shift
                if (otherCellIndex > -1 && otherCellIndex < this.cells.length) {
                    [this.cells[cellIndex], this.cells[otherCellIndex]] = [this.cells[otherCellIndex], this.cells[cellIndex]]
                    //swap id to trigger vue reactivity
                    let tmp = this.cells[cellIndex].id
                    this.cells[cellIndex].id = this.cells[otherCellIndex].id
                    this.cells[otherCellIndex].id = tmp
                }
            },
            clearSheet() {
                this.cells = []
            },
            saveSheet() {
                this.saved = false
                $('.info-modification').text('Saving...')
                let csrftoken = Cookies.get('csrftoken')
                let sheet = this // capture the vue instance to use in the callback
                let formData = new FormData()
                formData.append('title', this.title)
                axios.post('/sheet/' + {{ sheet.id }} +'/save/',
                    formData,
                    {
                        headers: {
                            'X-CSRFToken': csrftoken,
                            'cell-Type': "text/plain"
                        }
                    }
                ).then((response) => {
                    console.log(response)
                    console.log("sheet title saved !")
                    /**
                     * Update sheet-title-text elts
                     */
                    let sheetTitleText = $('.sheet-title-text')
                    if (sheetTitleText.length)
                        sheetTitleText.text(sheet.title)
                    /**
                     * End update
                     */
                    if (sheet.cells.length) {
                        sheet.nbCellsSaved = 0
                        for (let cell of sheet.cells) {
                            let lightCell = cell
                            // Upload files
                            lightCell.sequence = sheet.cells.indexOf(cell) + 1
                            if (cell instanceof VideoCell) {
                                lightCell.type = 'VIDEO'
                            } else if (cell instanceof AudioCell) {
                                lightCell.type = 'AUDIO'
                            } else if (cell instanceof YoutubeCell) {
                                lightCell.type = 'YOUTUBE'
                            } else if (cell instanceof ImageCell) {
                                lightCell.type = 'IMAGE'
                            } else if (cell instanceof MarkdownCell) {
                                lightCell.type = 'MARKDOWN'
                                lightCell.text = lightCell.text.replace(/\\/g, '\\\\')
                                lightCell.text = lightCell.text.replace(/`/g, '\\`') // escape for markdown monospace syntaxe
                            } else if (cell instanceof FileCell) {
                                lightCell.type = 'FILE'
                            } else if (cell instanceof NumericalQuestionCell) {
                                lightCell.type = 'NUMERICAL_QUESTION'
                            } else if (cell instanceof OpenEndedQuestionCell) {
                                lightCell.type = 'OPEN_ENDED_QUESTION'
                            } else if (cell instanceof MultipleChoiceQuestionCell) {
                                lightCell.type = 'MULTIPLE_CHOICE_QUESTION'
                            }
                            console.log(" saving cell ...")
                            let lightCellJson = JSON.stringify(lightCell)
                            console.log(lightCellJson)
                            axios({
                                method: 'post',
                                url: '/sheet/' + {{ sheet.id }} +'/cell/save/',
                                data: {
                                    'cell': lightCellJson
                                },
                                headers: {
                                    "X-CSRFToken": csrftoken,
                                    "cell-type": "application/json"
                                }
                            }).then((response) => {
                                console.log("1 cell saved !")
                                sheet.nbCellsSaved++
                                if (sheet.nbCellsSaved === sheet.cells.length)
                                    sheet.saved = true
                                console.log(response)
                            }).catch((error) => {
                                console.log(error)
                            })
                        }
                    } else
                        sheet.saved = true
                }).catch((error) => {
                    console.log(error)
                })
            }
        },
        computed: {
            lastInsertedId() {
                let lastIndex = this.cells.length - 1
                return lastIndex > -1 ? this.cells[lastIndex].id : 0
            }
        },
        watch: {
            saved: function (val) {
                if (val) {
                    sheet = this
                    setTimeout(() => {
                        sheet.saved = false
                    }, 2500)
                    sheet.nbCellsSaved = 0
                    $('.info-modification').text('All modifications saved')
                }
            },
            autosave: function (val) {
                let sheet = this
                if (val)
                    sheet.saveInterval = setInterval(sheet.saveSheet, 5000)
                else
                    clearInterval(sheet.saveInterval)
            },
        },
        beforeMount() {
            let text = ""
            let counter = 0

            {% for cell in sheet.cell_set.all  %}
                counter = {{ forloop.counter }}
                    {% if cell.videocell %}
                        this.cells.push(new VideoCell(counter, `{{ cell.videocell.title }}`, `{{ cell.videocell.video }}`, {{ cell.videocell.scale }}))
                    {% elif cell.youtubecell %}
                        this.cells.push(new YoutubeCell(counter, `{{ cell.youtubecell.title }}`, `{{ cell.youtubecell.youtube}}`, {{ cell.youtubecell.scale }}))
                    {% elif cell.audiocell %}
                        this.cells.push(new AudioCell(counter, `{{ cell.audiocell.title }}`, `{{ cell.audiocell.audio}}`))
                    {% elif cell.imagecell %}
                        this.cells.push(new ImageCell(counter, `{{ cell.imagecell.title }}`, `{{ cell.imagecell.image }}`, {{ cell.imagecell.scale }}))
                    {% elif cell.markdowncell %}
                        text = `{{ cell.markdowncell.text|safe }}`
                        text = text.replace(/\\\\/g, '\\\\') // escape backslash for mathjax compatibility
                        this.cells.push(new MarkdownCell(counter, text))
                    {% elif cell.filecell %}
                        this.cells.push(new FileCell(counter, `{{ cell.filecell.title }}`, `{{ cell.filecell.file}}`))
                    {% elif cell.multiplechoicequestioncell %}
                        let questionCell = new MultipleChoiceQuestionCell(counter)
                        questionCell.nbPropositions = 0
                        {% for proposition in cell.multiplechoicequestioncell.proposition_set.all %}
                            questionCell.addProposition(`{{ proposition.statement }}`, {{ proposition.is_true | lower }})
                            questionCell.nbPropositions++
                        {% endfor %}
                        this.cells.push(questionCell)
                    {% elif cell.numericalquestioncell %}
                        this.cells.push(new NumericalQuestionCell(counter, `{{ cell.numericalquestioncell.answer}}`))
                    {% elif cell.openendedquestioncell %}
                        this.cells.push(new OpenEndedQuestionCell(counter, `{{ cell.openendedquestioncell.answer}}`))
                    {% endif %}
            {% endfor %}
        }
    })
</script>