{% load static %}
<script src="{% static 'marked/lib/marked.js' %}"></script>
<script src="{% static 'vue/dist/vue.min.js' %}"></script>
<script src="{% static 'highlight.js/lib/highlight.pack.js' %}"></script>
<script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
<script src="{% static 'codemirror/addon/display/autorefresh.js' %}"></script>
<script src="{% static 'codemirror/mode/markdown/markdown.js' %}"></script>
<script src="{% static 'js/sheet.js' %}"></script>
<script src="{% static 'axios/dist/axios.min.js' %}"></script>
<script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
{% include 'includes/scripts/mathjax.html' %}
{% include 'includes/components/vuejs/templates.html' %}
<script>
    marked.setOptions({
        highlight: function (code) {
            return hljs.highlightAuto(code).value
        }
    })

    /* TODO Remove this line in production mode */
    // Enabling devtools
    Vue.config.devtools = true
    Vue.component('sheet-title', {
        template: "#sheet-title",
        props: ['title', 'editable'],
        data: function () {
            return {
                editMode: false,
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.editMode = !this.editMode
            }
        },
    })
    Vue.component('markdown-content', {
        template: "#markdown-content",
        props: ['content', 'editable'],
        data: function () {
            return {
                codeMirror: null
            }
        },
        computed: {
            html: function () {
                return marked(this.content.text)
            }
        },
        methods: {
            toggleMode: function () {
                if (this.editable){
                    this.content.editMode = !this.content.editMode
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub, this.$el.querySelector('.markdown-display')]);
                }
            },
            flushText: function(){
                this.content.text = this.codeMirror.getValue('\n')
            },
            editorCtrlS: function () {
                this.flushText()
                this.$emit('save')
            },
            editorCtrlEnter: function () {
                this.flushText()
                this.toggleMode()
            },
            mountCodeMirror: function () {
                let markdownComponent = this
                this.codeMirror = CodeMirror.fromTextArea(this.$el.getElementsByTagName('textarea')[0], {
                    extraKeys: {
                        "Ctrl-S": markdownComponent.editorCtrlS,
                        "Ctrl-Enter": markdownComponent.editorCtrlEnter
                    },
                    autoRefresh: true,
                })
                this.codeMirror.on("blur", markdownComponent.flushText)
            }
        },
    })

    Vue.component('video-content', {
        template: "#video-content",
        props: ['content', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            },
            updateVideo: function () {
                let inputId = 'input-' + this.content.id
                let input = document.getElementById(inputId)
                if (input.files && input.files[0]) {
                    let reader = new FileReader()
                    reader.onload = (e) => {
                        this.content.video = e.target.result
                    }
                    reader.readAsDataURL(input.files[0])
                }
            }
        },
    })

    Vue.component('audio-content', {
        template: "#audio-content",
        props: ['content', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            },
            updateAudio: function () {
                let inputId = 'input-' + this.content.id
                let input = document.getElementById(inputId)
                if (input.files && input.files[0]) {
                    let reader = new FileReader()
                    reader.onload = (e) => {
                        this.content.audio = e.target.result
                    }
                    reader.readAsDataURL(input.files[0])
                }
            }
        },
    })

    Vue.component('image-content', {
        template: "#image-content",
        props: ['content', 'editable'],
        methods: {
            toggleMode: function () {
                if (this.editable)
                    this.content.editMode = !this.content.editMode
            },
            //Preview before upload
            updateImage: function () {
                let inputId = 'input-' + this.content.id
                let input = document.getElementById(inputId)
                if (input.files && input.files[0]) {
                    let reader = new FileReader()
                    reader.onload = (e) => {
                        this.content.image = e.target.result
                    }
                    reader.readAsDataURL(input.files[0])
                }
            }
        },
    })

    let sheet = new Vue({
        el: "#sheet",
        data: { // Represents the sheet as described by the Sheet class
            title: `{{ sheet.title|safe}}`, // sheets title
            contents: [],
            editMode: false,
            saved: false,
            savedContents: 0
        },
        methods: {
            toggleMode() {
                this.editMode = !this.editMode
            },
            updateTitle(title) {
                this.title = title
            },
            deleteContent(id) {
                this.contents = this.contents.filter((content) => {
                    console.log("Deleting the content of id =  " + id)
                    return content.id !== id
                })
            },
            addVideoContent() {
                let videoContent = new VideoContent(this.lastInsertedId + 1, '', '', 1)
                this.contents.push(videoContent)
            },
            addAudioContent() {
                let audioContent = new AudioContent(this.lastInsertedId + 1, '')
                this.contents.push(audioContent)
            },
            addImageContent() {
                let imageContent = new ImageContent(this.lastInsertedId + 1, '', '', 1)
                this.contents.push(imageContent)
            },
            addMarkdownContent() {
                let markdownContent = new MarkdownContent(this.lastInsertedId + 1, '')
                this.contents.push(markdownContent)
            },
            moveContent(id, shift) {
                let content = this.contents.filter((content) => {
                    return content.id === id
                })[0]
                let contentIndex = this.contents.indexOf(content)
                let otherContentIndex = contentIndex + shift
                if (otherContentIndex > -1 && otherContentIndex < this.contents.length) {
                    [this.contents[contentIndex], this.contents[otherContentIndex]] = [this.contents[otherContentIndex], this.contents[contentIndex]]
                    //swap id to trigger vue reactivity
                    let tmp = this.contents[contentIndex].id
                    this.contents[contentIndex].id = this.contents[otherContentIndex].id
                    this.contents[otherContentIndex].id = tmp
                }
            },
            clearSheet() {
                this.contents = []
            },
            saveSheet() {
                let csrftoken = Cookies.get('csrftoken')
                let sheet = this // capture the vue instance to use in the callback
                let formData = new FormData()
                formData.append('title', this.title)
                axios.post('/sheet/' + {{ sheet.id }} +'/save/',
                    formData,
                    {
                        headers: {
                            'X-CSRFToken': csrftoken,
                            'content-Type': "text/plain"
                        }
                    }
                ).then((response) => {
                    console.log(response)
                    console.log("sheet title saved !")
                    sheet.saved = true
                    setTimeout(() => {
                        sheet.saved = false
                    }, 2500)
                    sheet.savedContents = 0
                    console.log("uploading files...")
                    for (let content of sheet.contents) {
                        let lightContent = {}
                        let lightContentJson = null
                        // Upload files
                        let formData = null
                        let file = null
                        lightContent.id = content.id
                        if (content instanceof VideoContent) {
                            lightContent.title = content.title
                            lightContent.scale = content.scale
                            lightContent.video = null
                            file = content.video
                        } else if (content instanceof AudioContent) {
                            lightContent.title = content.title
                            lightContent.audio = null
                            file = content.audio
                        } else if (content instanceof ImageContent) {
                            lightContent.title = content.title
                            lightContent.scale = content.scale
                            lightContent.image = null
                            file = content.image
                        } else if (content instanceof MarkdownContent) {
                            lightContent.text = content.text
                        }

                        formData = new FormData()
                        formData.append('file', file)
                        formData.append('title', lightContent.title)
                        axios.post('/upload/',
                            formData,
                            {
                                headers: {
                                    'X-CSRFToken': csrftoken,
                                    'content-Type': 'multipart/form-data'
                                }
                            }
                        ).then((success) => {
                            console.log(success)
                            console.log(" 1 file uploaded !")
                            console.log(" saving content ...")
                            // Le serveur renvoie le chemin du fichier fraichement sauvegardé
                            lightContent.filename = success.data === 'no_new_name' ? content.filename : success.data
                            lightContent.sequence = sheet.contents.indexOf(content) + 1
                            lightContentJson = JSON.stringify(lightContent)
                            axios({
                                method: 'post',
                                url: '/sheet/' + {{ sheet.id }} +'/content/save/',
                                data: {
                                    'content': lightContentJson
                                },
                                headers: {
                                    "X-CSRFToken": csrftoken,
                                    "content-type": "application/json"
                                }
                            }).then((response) => {
                                console.log("1 content saved !")
                                sheet.savedContents++
                                /**
                                 * If we are in the folder editor we update title at change
                                 */
                                document.querySelector('.highlight-item').firstElementChild.firstElementChild.nextSibling.textContent = ' ' + sheet.title
                                /**
                                 * End case
                                 */
                                console.log(response)
                            }).catch((error) => {
                                console.log(error)
                            })

                        })
                            .catch((error) => {
                                console.log(error)
                            })
                    }
                }).catch((error) => {
                    console.log(error)
                })
            }
        },
        computed: {
            lastInsertedId() {
                let lastIndex = this.contents.length - 1
                return lastIndex > -1 ? this.contents[lastIndex].id : 0
            }
        },
        watch: {
            savedContents: function () {
                if (this.savedContents === this.contents.length) {
                    sheet.saved = true
                    sheet = this
                    setTimeout(() => {
                        sheet.saved = false
                    }, 2500)
                    sheet.savedContents = 0
                }
            }
        },
        beforeMount() {
            let text = ""
            let counter = 0

            {% for content in sheet.content_set.all  %}
                counter = {{ forloop.counter }}
                    {% if content.videocontent %}
                        this.contents.push(new VideoContent(counter, `{{ content.videocontent.title }}`, `{{ content.videocontent.video.url }}`, {{ content.videocontent.scale }}))
                    {% elif content.audiocontent %}
                        this.contents.push(new AudioContent(counter, `{{ content.audiocontent.title }}`, `{{ content.audiocontent.audio.url}}`))
                    {% elif content.imagecontent %}
                        this.contents.push(new ImageContent(counter, `{{ content.imagecontent.title }}`, `{{ content.imagecontent.image.url }}`, {{ content.imagecontent.scale }}))
                    {% elif content.markdowncontent %}
                        text = `{{ content.markdowncontent.text|safe }}`
                        this.contents.push(new MarkdownContent(counter, text))
                    {% endif %}
            {% endfor %}
        }
    })
</script>