{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    {% include 'includes/styles/highlightjs_style.html' %}
    {% include 'includes/styles/codemirror_style.html' %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
    <link rel="stylesheet" href="{% static 'css/course_element.css' %}">
{% endblock %}
{% block title %} {{ course_element.title }} {% endblock %}
{% block content %}
    <div class="base-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'includes/components/navs/course_nav.html' with course=course_element.course_part.course course_element=course_element %}
            </div>
            <div class="col-md-9">
                {% include 'includes/components/sheet.html' with sheet=course_element %}
               {% comment %} <form action="{% url 'check-course-element' course_element.id %}" method="post">
               TODO : Figure out how to deal with the check course element: mark as completed
                    {% csrf_token %}
                    <button class="float-right my-3 btn {% if course_element.completed %} {{ ' btn-secondary ' }} {% else %} {{ ' btn-info ' }}{% endif %}">
                        {% if not course_element.completed %} <i class="fa fa-check"></i>
                            {{ 'Mark as completed' }} {% else %} <i class="fa fa-undo"></i>
                            {{ ' Unmark as completed ' }}{% endif %}
                    </button>
                </form>{% endcomment %}
                <nav class="my-3">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link {% if course_element.sequence == 1 %} {{ 'btn disabled text-secondary' }} {% endif %}"
                               href="{% url 'course-element' course_element.course_part.course.id course_element.course_part.sequence course_element.sequence|add:-1 %}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'course-element' course_element.course_part.course.id course_element.course_part.sequence course_element.sequence|add:1 %}"
                               aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <hr>
                {% include 'includes/components/course_resources.html' with resources=course_element.course_part.course.resource_set.all %}
                <hr>
                {% include 'includes/components/course_instructors.html' with instructors=course_element.course_part.course.instructor_set.all %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% include 'includes/scripts/sheet_script.html' with sheet=course_element %}
{% endblock %}