{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} {{ folder.name }} {% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/tiny.css' %}">
    <link rel="stylesheet" href="{% static 'css/folder.css' %}">
{% endblock %}

{% block content %}
    {% include 'includes/components/modals/add_folder.html' with parent_id=folder.id %}
    {% include 'includes/components/modals/add_folder_files.html' with folder_id=folder.id %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {% include 'includes/folder_breadcrumb.html' with folder=folder %}
            </div>
        </div>
        {% block quick_access %} {% endblock %}
        {% include 'includes/folder_content.html' with folder=folder %}
    </div>
{% endblock %}F
{% block script %}
    <script src="{% static 'js-cookie/src/js.cookie.js' %}"></script>
    <script src="{% static 'axios/dist/axios.min.js' %}"></script>
    <script src="{% static 'js/tiny.js' %}"></script>
    <script src="{% static 'js/folder.js' %}"></script>
    <script>
       window.oncontextmenu = (event) => openFolderContextMenu(event, {{ folder.id }})
    </script>
{% endblock %}