{% extends 'layouts/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/course.css' %}">
    <link rel="stylesheet" href="{% static 'css/sheet.css' %}">
{% endblock %}
{% block title %} {{ course_element.title }} {% endblock %}
{% block content %}
    <div class="base-container">
        <div class="row">
            <div class="col-md-3">
                {% include 'includes/components/navs/school_course_nav.html' with school_course=course_element.course_part.course course_element=course_element %}
            </div>
            <div class="col-md-9">
                {% include 'includes/components/item.html' with item=course_element %}
                <nav class="my-3">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link {% if course_element.sequence == 1 %} {{ 'btn disabled text-secondary' }} {% endif %}"
                               href="{% url 'school-course-item-reach' course_element.course_part.id course_element.sequence|add:-1 %}"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo; Previous</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'school-course-item-reach' course_element.course_part.id course_element.sequence|add:1 %}"
                               aria-label="Next">
                                <span aria-hidden="true">Next &raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <hr>
                {% include 'includes/components/course_resources.html' with resources=course_element.course_part.course.resource_set.all %}
                <hr>
                {% include 'includes/components/course_instructors.html' with instructors=course_element.course_part.course.instructor_set.all %}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {% include 'includes/scripts/item_script.html' with item=course_element %}
{% endblock %}