{% extends 'pages/folder.html' %}
{% block quick_access %}
    <hr>
    <div class="quick-access-container row">
            <div class="col-12">
                <h1> Accès rapide <small><i class="fa fa-bolt"></i></small>
                </h1>
            </div>
            {% for sheet in quick_access %}
                {% if sheet.folder %}
                    <div class="col-lg-2  col-md-3">
                        {% include 'includes/components/tiny/tiny_recent_sheet.html' with sheet=sheet %}
                    </div>
                {% else %}
                    <div class="col-lg-2  col-md-3">
                        {% include 'includes/components/tiny/tiny_recent_course_element.html' with course_element=sheet.courseelement %}
                    </div>
                {% endif %}

            {% endfor %}
        </div>
{% endblock %}