<div id="sheet" :class="{ 'editable': editMode}">
    <div class="alert alert-success alert-dismissible" v-bind:style="{ display: saved ? 'block':'none' }" role="alert">
        Sauvegarde réussie !
        <button type="button" v-on:click="saved=false" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% include 'includes/components/menus/sheet_menu.html' %}
    <div class="container sheet-component">
        {% verbatim %}
        <sheet-title v-bind:title="title" v-bind:editable="editMode" v-on:update="updateTitle($event)" v-on:save="saveSheet"></sheet-title>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div v-for="cell in cells" v-bind:key="cell.id">
                    <video-cell v-if="cell instanceof VideoCell"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-on:delete="deleteCell($event)"></video-cell>
                    <youtube-cell v-if="cell instanceof YoutubeCell"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-on:delete="deleteCell($event)"></youtube-cell>
                    <audio-cell v-else-if="cell instanceof AudioCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></audio-cell>
                    <image-cell v-else-if="cell instanceof ImageCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></image-cell>
                    <markdown-cell v-else-if="cell instanceof MarkdownCell"
                                      v-bind:editable="editMode" v-bind:cell="cell"
                                      v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                      v-on:delete="deleteCell($event)"
                                        v-on:save="saveSheet">
                    </markdown-cell>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>
</div>