<div id="sheet" :class="{ 'editable': editMode}">
    {% include 'includes/components/menus/sheet_menu.html' %}
    <div class="sheet-component">
        {% verbatim %}
        <sheet-title v-bind:title="title" v-bind:editable="editMode" v-on:update="updateTitle($event)" v-on:save="saveSheet"></sheet-title>
        <hr>
        <div class="sheet-body row">
            <div class="col-md-12">
                <div v-for="cell in cells" v-bind:key="cell.id">
                    <video-cell v-if="cell instanceof VideoCell"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-on:delete="deleteCell($event)"></video-cell>
                    <youtube-cell v-if="cell instanceof YoutubeCell"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-on:delete="deleteCell($event)"></youtube-cell>
                    <audio-cell v-else-if="cell instanceof AudioCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></audio-cell>
                    <image-cell v-else-if="cell instanceof ImageCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></image-cell>
                    <markdown-cell v-else-if="cell instanceof MarkdownCell"
                                      v-bind:editable="editMode" v-bind:cell="cell"
                                      v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                      v-on:delete="deleteCell($event)"
                                        v-on:save="saveSheet">
                    </markdown-cell>
                    <file-cell v-else-if="cell instanceof FileCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></file-cell>
                    <numerical-input-cell v-else-if="cell instanceof NumericalInputCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></numerical-input-cell>
                    <open-ended-input-cell v-else-if="cell instanceof OpenEndedInputCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></open-ended-input-cell>
                    <multiple-choice-input-cell v-else-if="cell instanceof MultipleChoiceInputCell"
                                   v-on:up="moveCell($event,-1)"
                                   v-on:down="moveCell($event,1)"
                                   v-bind:editable="editMode" v-bind:cell="cell"
                                   v-on:delete="deleteCell($event)"></multiple-choice-input-cell>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>
    {% include 'includes/components/drawers/sheet_drawer.html' with sheet=sheet %}
</div>