@font-face {
  font-family: 'America';
  src: url("/static/font/america.ttf");
}

body{
    font-family: America, sans-serif;
}

a:hover{
    text-decoration: none;
}
h1{
    font-size: 1.6rem;
    color: #555
}
h2{
    font-size: 1.4rem;
    color: grey;
}

h3{
    font-size: 1.2rem;
    color: grey;
}

h4{
    font-size: 1rem;
    color: #8c8c8c;
}
a:hover h3{
    color: #007bff;
}

.base-container{
    width: 80%;
    margin:auto;
}
blockquote {
  background: #e9e9e9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

/* Navbar styles */

.navbar{
    background: #125EF0;
    box-shadow: 0 1rem 1rem rgba(0,0,0, .1);
}
.navbar input {
    font-size: .85rem;
    width: 200px !important;
    color: white !important;
    background: rgba(255,255,255, .2) url(/static/img/search-white.png) 95% 50% no-repeat  !important;
    padding: .5rem .5rem;
    border-radius: 3px;
    border-width: 0px;
}

.navbar input::placeholder {
    color: #ddd;
}
.navbar input:focus{
    background: rgba(255,255,255, .8) url(/static/img/search-black.png) 95% 50% no-repeat  !important;
    color: black !important;
}
.navbar input:focus::placeholder {
    color: grey;
}