.highlight-item{
    border-right: 2px solid #007bff;
    background-color: rgba(50, 50, 50, .08);
}
#folder-nav{
    position: sticky;
    top: 6.5rem;
}
@media print {
    .col-md-3, .col-md-3 *{
        display:none !important;
    }
}