.tiny{
    position: relative;
}
.tiny.card i.fa {
    position: absolute;
    top: .4rem;
    right: .5rem;
    font-size: 2rem;
    color: rgba(18, 94, 240, .2);
}
.tiny.card i.fa.fa-graduation-cap{
    color: rgba(91,192,222, .4)
}
.tiny.card i.fa.fa-leaf{
    color: rgba(92,184,92, .3)
}
.tiny.card i.fa.file{
    color: #ccc
}
.tiny.card .fa.fa-trash:hover {
    color: rgba(255, 0, 0, .4);
}

.tiny .folder-name, .tiny .sheet-title {
    text-overflow: ellipsis;
    width: 97px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
}

.tiny .filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.tiny .course-title {
    text-overflow: ellipsis;
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
}

.tiny.card {
    background-color: #fdfdfd;
}
.tiny.card .card-body{
    padding: 10px 15px;
}
.tiny .recent-info{
    font-size: .9rem;
    color: grey;
}