
.tiny.card i.fa {
    position: absolute;
    top: .5rem;
    right: .5rem;
    font-size: 2rem;
    color: rgba(18, 94, 240, .2);
}

.tiny.card .fa.fa-trash {
    border: none;
    background: transparent;
    transition: all .2s;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 2rem;
    color: rgba(255, 0, 0, .1);
    display: none;
}

.tiny.card .fa.fa-trash:hover {
    color: rgba(255, 0, 0, .4);
}

.tiny .folder-name, .tiny .sheet-title {
    text-overflow: ellipsis;
    width: 97px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
}

.tiny .filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
}

.tiny .course-title {
    text-overflow: ellipsis;
    width: 270px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
}

.tiny {
    background-color: #fdfdfd;
}

/* Context menu styling  */

.rmenu{
    z-index:1000;
    position: absolute;
    width: fit-content;
    border-width: 0;
    box-shadow: .0rem .0rem 1rem rgba(0,0,0,.2);
    display: none;
}
.rmenu.show{
    display: block;
}
.rmenu.show .list-group-item{
    padding: 5px 5px;
    font-size: .8rem;
}