{% load static %}
<nav class="navbar mb-2 justify-content-start sticky-top navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="{% url 'welcome' %}">
        <img src="{% static 'img/logo.png' %}" height="40" class="d-inline-block align-top" alt="">
    </a>
    <button class="pt-0 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <input type="text" placeholder="Rechercher..." aria-label="pattern" class="form-control form-control-sm">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'shared-with-me' %}"><i class="fa fa-users"></i> Shared with me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'libr:index' %}"><i class="fa fa-book"></i> Libr</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#"><i class="fa fa-globe"></i> Explore</a>
            </li>
        </ul>
    </div>
    <div class="float-right">
        {% if user.is_authenticated %}
            <div class="dropdown show">
                <a class="text-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   {{ user.username }}
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
            </div>
        {% else %}
            <a class="text-white" href="{% url 'login' %}">
                   Login
            </a>&nbsp;
            <a class="text-white" href="{% url 'register' %}">
                   Register
            </a>
        {% endif %}
    </div>
</nav>