<section>
    <h2 class="text-muted">Instructeurs</h2><br>
    <ul>
        {% for instructor in instructors %}
            <li>
                <a href="{{ instructor.link }}">{{ instructor.title | capfirst }}</a>
            </li>
            {% if instructor.school %}
                <ul>
                    <li>
                        <a href="{{ instructor.school.admissions_link }}">site des admissions</a>
                    </li>
                    <li>
                        <a href="{{ instructor.school.programs_link }}">site des programmes</a>
                    </li>
                </ul>
            {% endif %}
        {% endfor %}
    </ul>
</section>