<div id="sheet">
    <div class="alert alert-success alert-dismissible" v-bind:style="{ display: saved ? 'block':'none' }" role="alert">
        Sauvegarde réussie !
        <button type="button" v-on:click="saved=false" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% include 'includes/components/menus/sheet_menu.html' %}
    <div class="container sheet-component">
        {% verbatim %}
        <sheet-title v-bind:title="title" v-bind:editable="editMode" v-on:update="updateTitle($event)" v-on:save="saveSheet"></sheet-title>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div v-for="content in contents" v-bind:key="content.id">
                    <video-content v-if="content instanceof VideoContent"
                                   v-bind:editable="editMode" v-bind:content="content"
                                   v-on:up="moveContent($event,-1)"
                                   v-on:down="moveContent($event,1)"
                                   v-on:delete="deleteContent($event)"></video-content>
                    <audio-content v-else-if="content instanceof AudioContent"
                                   v-on:up="moveContent($event,-1)"
                                   v-on:down="moveContent($event,1)"
                                   v-bind:editable="editMode" v-bind:content="content"
                                   v-on:delete="deleteContent($event)"></audio-content>
                    <image-content v-else-if="content instanceof ImageContent"
                                   v-on:up="moveContent($event,-1)"
                                   v-on:down="moveContent($event,1)"
                                   v-bind:editable="editMode" v-bind:content="content"
                                   v-on:delete="deleteContent($event)"></image-content>
                    <markdown-content v-else-if="content instanceof MarkdownContent"
                                      v-bind:editable="editMode" v-bind:content="content"
                                      v-on:up="moveContent($event,-1)"
                                   v-on:down="moveContent($event,1)"
                                      v-on:delete="deleteContent($event)"
                                        v-on:save="saveSheet">
                    </markdown-content>
                </div>
            </div>
        </div>
        {% endverbatim %}
    </div>
</div>