<div class="card textbook-card">
<div class="card-body p-1">
    <h5 class="card-title"><i class="document-type float-right fa fa-book"></i> <a href="#">Book title</a></h5>
    <p class="card-text">This is the book description Some quick example text to build on the card title and make up the bulk of the card's content...
        <a href="#">Lire plus</a></p>
    <div class="text-muted">
        <span><i class="text-warning fa fa-files-o"></i> 256 pages</span>
        <span class="float-right"><i class="text-success fa fa-thumbs-up"></i>10</span>
    </div>
  </div>
  <ul class="text-muted list-group list-group-flush p-0 mt-0">
    <li class="list-group-item p-1"><i class="fa fa-pencil"></i> Author(s) : Mathieu Bower</li>
    <li class="list-group-item p-1"><i class="fa fa-home"></i> Publisher : Dunod</li>
      <li class="list-group-item p-1"><i class="fa fa-calendar"></i> Publication : Juin 2020</li>
    <li class="list-group-item p-1"><i class="fa fa-key"></i> ISBN : 01257449598</li>
  </ul>
</div>