<div class="container sheet toolbar d-flex align-items-center">
    <!-- Rounded switch -->
    <label class="switch mr-3">
        <input type="checkbox" v-on:click="toggleMode">
        <span class="slider round"></span>
    </label>
    <div class="mode"><i class="fa" v-bind:class="{ 'fa-eye': !editMode, 'fa-edit':editMode}" ></i></div>
    <div class="edit-menu justify-content-around" v-bind:style="{display: editMode ? 'flex':'none' }">
        <div class="separator"></div>
        <div class="btn-group" role="group">
            <button v-on:click="addVideoContent"><i class="fa fa-plus"></i> <i class="fa fa-file-movie-o"></i></button>
            <button v-on:click="addAudioContent"><i class="fa fa-plus"></i> <i class="fa fa-file-audio-o"></i></button>
            <button v-on:click="addImageContent"><i class="fa fa-plus"></i> <i class="fa fa-file-image-o"></i></button>
            <button v-on:click="addMarkdownContent"><i class="fa fa-plus"></i> <i class="fa fa-file-text-o"></i>
            </button>
        </div>
        <button class="btn-save" v-on:click="saveSheet"><i class="fa fa-save"></i> Save</button>
        <button class="btn-clear" v-on:click="clearSheet"><i class="fa fa-warning"></i> <i class="fa fa-eraser"></i> Clear</button>
    </div>

</div>