<template id="audio-cell">
    <div class="row cell-editable" v-if="editable && cell.editMode">
        <div class="col-11">
            <figure class="figure">
                <div class="d-flex justify-cell-between align-items-center mb-2">
                    <input class="ml-2" v-bind:id="'input-' + cell.id" type="file" v-on:change="updateAudio">
                    <audio controls>
                        <source v-bind:src="cell.audio" type="audio/mp3">
                    </audio>
                </div>
                <figcaption
                        class="figure-caption text-center">
                    <input v-on:keydown.ctrl.enter="toggleMode" v-model="cell.title" type="text">
                </figcaption>
            </figure>
        </div>
        {% include 'includes/components/menus/cell_edit_menu.html' %}
    </div>
    <div v-else v-on:dblclick="toggleMode" class="text-center">
        <figure class="figure">
            <audio controls>
                <source v-bind:src="cell.audio" type="audio/mp3">
            </audio>
            <figcaption
                    class="figure-caption" v-text="cell.title">
            </figcaption>
        </figure>
    </div>
</template>