<template id="image-cell">
     <div class="row cell-editable" v-if="editable && cell.editMode">
       <div class="col-11">
            <figure class="figure text-center">
                <img v-bind:src="cell.image" v-bind:width="cell.scale*100 + '%'"
                 v-bind:alt="cell.title">
                <div class="mb-2 justify-cell-around w-100">
                    <input v-bind:id="'input-' + cell.id" type="file" v-on:change="updateImage">
                    <label v-bind:for="'scale-input' + cell.id">Scale : </label><input  class="scale-input" v-bind:id="'image-scale-input' + cell.id" type="number" step="0.1" max="1" v-model="cell.scale">
                </div>
            <figcaption
                    class="figure-caption text-center">
                <label>Title : </label> <input v-on:keydown.ctrl.enter="toggleMode" v-model="cell.title" type="text">
            </figcaption>
        </figure>
       </div>
         {% include 'includes/components/menus/cell_edit_menu.html' %}
    </div>
    <div v-else v-on:dblclick="toggleMode" class="d-flex justify-cell-center">
        <figure class="figure text-center">
            <img v-bind:src="cell.image" v-bind:width="cell.scale*100 + '%'"
                 v-bind:alt="cell.title">
            <figcaption
                    class="figure-caption text-center" v-text="cell.title">
            </figcaption>
        </figure>
    </div>
</template>