{% extends 'includes/components/menus/contextmenus/contextmenu.html' %}
{% block contextmenu_id %}
    id="folder-menu_{{ folder.id }}"
{% endblock %}
{% block contextmenu_items %}
    <li class="list-group-item list-group-item-action"><a href="{% url 'add-sheet' folder.id %}"> <i
            class="fa fa-leaf"></i> &nbsp; Add Sheet</a></li>
    <li class="list-group-item list-group-item-action">
        <button data-toggle="modal"
                data-target="#addFolderModal" class="rmenu-action text-primary"><i class="fa fa-folder"></i> &nbsp;
            Add folder
        </button>
    </li>
    <li class="list-group-item list-group-item-action"><a href="{% url 'add-course' folder.id %}"> <i
            class="fa fa-graduation-cap"></i> Add course</a></li>
    <li class="list-group-item list-group-item-action">
        <button data-toggle="modal"
                data-target="#addFileModal" class="rmenu-action text-primary"><i class="fa fa-files-o"></i> &nbsp; Add
            files
        </button>
    </li>
{% endblock %}