{% extends 'includes/components/menus/contextmenus/contextmenu.html' %}
{% block contextmenu_id %}
    id="file-menu_{{ file_item.id }}"
{% endblock %}
{% block contextmenu_items %}
    <li class="list-group-item list-group-item-action"><button class="rmenu-action text-danger" onclick="copyFileUrl(`{{ file_item.file.url}}`)"><i class="fa fa-link"></i> &nbsp;Copy file Url </button></li>
    <li class="list-group-item list-group-item-action"><a href="#moveFileModal_{{ file_item.id }}" data-toggle="modal" data-target="#moveFileModal_{{ file_item.id }}"> <i class="fa fa-arrows"></i> &nbsp; Move file</a></li>
    <li class="list-group-item list-group-item-action">
        <form action="{% url 'delete-item' file_item.id %}" method="post">
            {% csrf_token %}
            <button role="submit" class="rmenu-action text-danger"><i class="fa fa-trash"></i> &nbsp; Delete File
            </button>
        </form>
    </li>
{% endblock %}